.orange {
    margin-top: 15px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-family: 'Roboto Medium';
    font-size: 22px;
    background-color: #ffc107;
    box-shadow: 0 0 50px 0 rgba(0,0,0,.1);
    color:white;
    border-radius: 15px;
    position: relative;
}

.purple {
    margin-top: 15px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-family: 'Roboto Medium';
    font-size: 22px;
    background-color: #913179;
    box-shadow: 0 0 50px 0 rgba(0,0,0,.1);
    color:white;
    border-radius: 15px;
}