.header-p {
    color: #FFFFFF;
    text-align: left;
    white-space: pre-line;
    width: 100%;
    margin-top: 0%;
}

.header-h2 {
    color: #ffffff;
    text-align: left;
    margin-left: 10%;
  
}
.img-fluid-tick {
    width: 60%;
  
}



@media (max-width: 500px) {  
    .responsive-image-header-width
{
    width: 95%;
    height: auto;
}
    .responsive-header-h2
{
    margin-left: 14px;
    font-size: 50px;

}
.responsive-header-p
{
    color: #FFFFFF;
}
.responsive-container-header
{
    margin-bottom: 50px;
}

.responsive-img {
    width: 10%;
    height: auto;
  
}
  }
  @media (min-width: 500px) {  

.responsive-container-header
{
    margin-bottom: 50px;
}
  }