.header-p {
    color: #000000;
    text-align: left;
    white-space: pre-line;
    width: 75%;
    margin-top: 8%;
}

.header-h2 {
    color: #ffffff;
    text-align: left;
}



@media (max-width: 500px) {  
    .responsive-image-header-width
{
    width: 95%;
    height: auto;
}
    .responsive-header-h2
{
    margin-left: 14px;
    font-size: 50px;
}
.responsive-header-p
{
    margin-left: 14px;
}
.responsive-container-header
{
    margin-bottom: 50px;
}
  }
  @media (min-width: 500px) {  

.responsive-container-header
{
    margin-bottom: 50px;
}
  }